.list-item {
    border-bottom: 2px solid gray;
    background-color: azure;
    border-radius: 7px 7px 0 0;
}

.last-item {
    border-radius: 0 0 7px 7px;
}

.vehicle-card {
    margin: 0 5% 0 5%;
    padding: 10px;
    position: relative;

    @media only screen and (max-width: 800px) {
        padding: 3px;
    }
}

.vehicle-number {
    width: 50%;
}

.vehicle-name {
    font-weight: 600;
}

.address {
    color: grey;
}

.map-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}