<div class="main">
    <div class="content">
        <h2>Real Time Vehicle Location</h2>
        <app-loader class="list" *ngIf="loading$ | async; else showData"></app-loader>
        <ng-template #showData>
            <div *ngIf="(vehicles$ | async)?.length === 0; else showList">
                Empty
            </div>
            <ng-template #showList>
                <app-vehicle-list class="list" [vehicles$]="vehicles$"></app-vehicle-list>
            </ng-template>
        </ng-template>
    </div>
</div>
