<div>
    <h2 class="title">Real Time Vehicle Location</h2>
    <div class="content">
        <div class="list-section" [class.hide]="showMapOnPhone">
            <app-loader class="list" *ngIf="loading$ | async; else showData"></app-loader>
            <ng-template #showData>
                <ng-container [ngTemplateOutlet]="searchBar"></ng-container>
                <ng-container *ngIf="(vehicles$ | async)?.length === 0; else showList" [ngTemplateOutlet]="emptyState">
                </ng-container>
                <ng-template #showList>
                    <app-vehicle-list class="list" [vehicles$]="vehicles$" (showMapClicked)="setVehicleId($event)">
                    </app-vehicle-list>
                </ng-template>
            </ng-template>
        </div>

        <div class="map-section" [class.show]="showMapOnPhone" *ngIf="mapVehicleId$ | async as vehicleId">
            <div class="close" (click)="showMapOnPhone=false">x</div>
            <app-google-map [vehicleId]="vehicleId"></app-google-map>
        </div>
    </div>
</div>

<ng-template #searchBar>
    <div class="search-container">
        <div class="search">
            Search: <input [ngModel]="searchQuery$ | async" (ngModelChange)='searchQuery$.next($event)' type="text">
        </div>
    </div>
</ng-template>

<ng-template #emptyState>
    <div class="list">
        <div class="empty-box">
            <img src="assets/images/empty.png">
            <div class="empty">No data found!!!</div>
        </div>
    </div>

</ng-template>
