/* You can add global styles to this file, and also import other style files */
body {
    font-size: 1em;
    background-color: aliceblue;

    @media only screen and (max-width: 600px) {
        font-size: .9em;
    }
}